# Lab | Cleaning numerical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder.

### 1. Import the necessary libraries.

In [1]:
import pandas as pd

### 2. Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv') 
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

### 3. First look at its main features (head, shape, info).

In [3]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

### 4. Rename the columns so they follow the PE8 (snake case).

In [4]:
customer_df.columns = customer_df.columns.str.replace(' ', '_').str.lower()

### 5. Change effective to date column to datetime format.

In [5]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'], infer_datetime_format=True)

In [6]:
customer_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

### 6. Check NaN values per column.

In [7]:
customer_df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

### 7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [10]:
customer_df_num = customer_df._get_numeric_data()
customer_df_num

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

Empirical hint to differentiate continuous from discrete variables : Continuous variables are generally float whereas discrete variables are generally integer. It is not always true though. 
But in this dataframe, it works. So I go with the below solution.
Dear TA, if you have a better solution, please feel free to share it please. Thanks.

In [26]:
def diff_variables(df):
    categorical = df.select_dtypes('object')
    continuous = df.select_dtypes('float64')
    discrete = df.select_dtypes('int64')
    return categorical, continuous, discrete

In [27]:
diff_variables(customer_df)

(     customer       state response  coverage education employmentstatus  \
 0     BU79786  Washington       No     Basic  Bachelor         Employed
 1     QZ44356     Arizona       No  Extended  Bachelor       Unemployed
 2     AI49188      Nevada       No   Premium  Bachelor         Employed
 3     WW63253  California       No     Basic  Bachelor       Unemployed
 4     HB64268  Washington       No     Basic  Bachelor         Employed
 ...       ...         ...      ...       ...       ...              ...
 9129  LA72316  California       No     Basic  Bachelor         Employed
 9130  PK87824  California      Yes  Extended   College         Employed
 9131  TD14365  California       No  Extended  Bachelor       Unemployed
 9132  UP19263  California       No  Extended   College         Employed
 9133  Y167826  California       No  Extended   College       Unemployed

      gender location_code marital_status     policy_type        policy  \
 0         F      Suburban        Married  Corporate Auto  Corporate L3
 1         F      Suburban         Single   Personal Auto   Personal L3
 2         F      Suburban        Married   Personal Auto   Personal L3
 3         M      Suburban        Married  Corporate Auto  Corporate L2
 4         M         Rural         Single   Personal Auto   Personal L1
 ...     ...           ...            ...             ...           ...
 9129      M         Urban        Married   Personal Auto   Personal L1
 9130      F      Suburban       Divorced  Corporate Auto  Corporate L3
 9131      M      Suburban         Single  Corporate Auto  Corporate L2
 9132      M      Suburban        Married   Personal Auto   Personal L2
 9133      M      Suburban         Single  Corporate Auto  Corporate L3

      renew_offer_type sales_channel  vehicle_class vehicle_size
 0              Offer1         Agent   Two-Door Car      Medsize
 1              Offer3         Agent  Four-Door Car      Medsize
 2              Offer1         Agent   Two-Door Car      Medsize
 3              Offer1   Call Center            SUV      Medsize
 4              Offer1         Agent  Four-Door Car      Medsize
 ...               ...           ...            ...          ...
 9129           Offer2           Web  Four-Door Car      Medsize
 9130           Offer1        Branch  Four-Door Car      Medsize
 9131           Offer1        Branch  Four-Door Car      Medsize
 9132           Offer3        Branch  Four-Door Car        Large
 9133           Offer4   Call Center   Two-Door Car      Medsize

 [9134 rows x 15 columns],
       customer_lifetime_value  total_claim_amount
 0                 2763.519279          384.811147
 1                 6979.535903         1131.464935
 2                12887.431650          566.472247
 3                 7645.861827          529.881344
 4                 2813.692575          138.130879
 ...                       ...                 ...
 9129             23405.987980          198.234764
 9130              3096.511217          379.200000
 9131              8163.890428          790.784983
 9132              7524.442436          691.200000
 9133              2611.836866          369.600000

 [9134 rows x 2 columns],
       income  monthly_premium_auto  months_since_last_claim  \
 0      56274                    69                       32
 1          0                    94                       13
 2      48767                   108                       18
 3          0                   106                       18
 4      43836                    73                       12
 ...      ...                   ...                      ...
 9129   71941                    73                       18
 9130   21604                    79                       14
 9131       0                    85                        9
 9132   21941                    96                       34
 9133       0                    77                        3

       months_since_policy_inception  number_of_open_complaints  \
 0                                 5                          0
 1                                42                          0
 2                                38                          0
 3                                65                          0
 4                                44                          0
 ...                             ...                        ...
 9129                             89                          0
 9130                             28                          0
 9131                             37                          3
 9132                              3                          0
 9133                             90                          0

       number_of_policies
 0                      1
 1                      8
 2                      2
 3                      7
 4                      1
 ...                  ...
 9129                   2
 9130                   1
 9131                   2
 9132                   3
 9133                   1

 [9134 rows x 6 columns])

### 8. For the categorical data, check if there is some kind of text in a variable so we would need to clean it. Hint: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

In [20]:
customer_df_cat = customer_df.select_dtypes('object')

In [41]:
for col in customer_df_cat.select_dtypes('object'):
    print (customer_df_cat[col].nunique(), '\n')
    print(customer_df_cat[col].value_counts(), '\n')
    
# df.nunique(axis=0) 
# , '\n' -> mise en page du résultat : espace entre les colonnes

9134

RE32481    1
QV89018    1
BR44176    1
FF28650    1
KA58700    1
          ..
ZG10765    1
JO13576    1
BH43020    1
TV77808    1
CX99919    1
Name: customer, Length: 9134, dtype: int64

5

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

2

No     7826
Yes    1308
Name: response, dtype: int64

3

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

5

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

5

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

2

F    4658
M    4476
Name: gender, dtype: int64

3

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

3

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

3

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

9

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

4

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

4

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

6

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

3

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

All categorical datas seem clear. So I would not do any cleaning without more information on the operations we would need to do on the datas.

### 9. Get categorical features.

In [27]:

customer_df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer          9134 non-null   object
 1   state             9134 non-null   object
 2   response          9134 non-null   object
 3   coverage          9134 non-null   object
 4   education         9134 non-null   object
 5   employmentstatus  9134 non-null   object
 6   gender            9134 non-null   object
 7   location_code     9134 non-null   object
 8   marital_status    9134 non-null   object
 9   policy_type       9134 non-null   object
 10  policy            9134 non-null   object
 11  renew_offer_type  9134 non-null   object
 12  sales_channel     9134 non-null   object
 13  vehicle_class     9134 non-null   object
 14  vehicle_size      9134 non-null   object
dtypes: object(15)
memory usage: 1.0+ MB

### 10. What should we do with the customer_id column?

Different soutions can be applied when we have an "ID_column" in a dataframe.
Sometimes, the ID_column can be set as an index for the dataframe.
Sometimes, the ID_column can bring some information that we can use.
However, sometimes, the ID_column cannot help us or to organize our datas neither to get relevant information. 
In this case, one can decide to drop the column to get cleaner dataframe.

In this case, we are in the third case and we should drop this column as it does not bring any relevant information to analyse our datas.

In [ ]:
customer_df = customer_df.drop(['customer], axis=1)