# Lab | Cleaning numerical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder.

### 1. Import the necessary libraries.

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
password = getpass.getpass()

········

In [2]:
from imblearn.over_sampling import SMOTE

### 2. Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

In [3]:
data = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')

### 3. First look at its main features (head, shape, info).

In [4]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [5]:
data.shape

(9134, 24)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

### 4. Rename the columns so they follow the PE8 (snake case).

In [9]:
data.columns = data.columns.str.lower()
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(' ', '_'))
data.columns = cols
print(data.columns)

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

### 5. Change effective to date column to datetime format.

In [11]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [12]:
data['effective_to_date']

0      2011-02-24
1      2011-01-31
2      2011-02-19
3      2011-01-20
4      2011-02-03
          ...
9129   2011-02-10
9130   2011-02-12
9131   2011-02-06
9132   2011-02-03
9133   2011-02-14
Name: effective_to_date, Length: 9134, dtype: datetime64[ns]

### 6. Check NaN values per column.

In [13]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

                               percentage
customer                              0.0
state                                 0.0
vehicle_class                         0.0
total_claim_amount                    0.0
sales_channel                         0.0
renew_offer_type                      0.0
policy                                0.0
policy_type                           0.0
number_of_policies                    0.0
number_of_open_complaints             0.0
months_since_policy_inception         0.0
months_since_last_claim               0.0
monthly_premium_auto                  0.0
marital_status                        0.0
location_code                         0.0
income                                0.0
gender                                0.0
employmentstatus                      0.0
effective_to_date                     0.0
education                             0.0
coverage                              0.0
response                              0.0
customer_lifetime_value               0.0
vehicle_size                          0.0

### 7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [38]:
def conti_or_dis(df):
    i=0
    data_conti=[]
    data_dis=[]
    for i in df.columns:
        if len(df[i].value_counts()) <10:
            data_dis.append(data[i])
        else:
            data_conti.append(data[i])
            
    dc = pd.DataFrame(data_conti)
    dd = pd.DataFrame(data_dis)
    return dc , dd

In [51]:
conti_or_dis(data)
# thats not the output I imagined/ wanted. Not sure how to fix it

(                                              0                    1     \
 customer                                   BU79786              QZ44356
 customer_lifetime_value                    2763.52              6979.54
 effective_to_date              1298505600000000000  1296432000000000000
 income                                       56274                    0
 monthly_premium_auto                            69                   94
 months_since_last_claim                         32                   13
 months_since_policy_inception                    5                   42
 total_claim_amount                         384.811              1131.46

                                               2                    3     \
 customer                                   AI49188              WW63253
 customer_lifetime_value                    12887.4              7645.86
 effective_to_date              1298073600000000000  1295481600000000000
 income                                       48767                    0
 monthly_premium_auto                           108                  106
 months_since_last_claim                         18                   18
 months_since_policy_inception                   38                   65
 total_claim_amount                         566.472              529.881

                                               4                    5     \
 customer                                   HB64268              OC83172
 customer_lifetime_value                    2813.69               8256.3
 effective_to_date              1296691200000000000  1295913600000000000
 income                                       43836                62902
 monthly_premium_auto                            73                   69
 months_since_last_claim                         12                   14
 months_since_policy_inception                   44                   94
 total_claim_amount                         138.131              159.383

                                               6                    7     \
 customer                                   XZ87318              CF85061
 customer_lifetime_value                     5380.9               7216.1
 effective_to_date              1298505600000000000  1295308800000000000
 income                                       55350                    0
 monthly_premium_auto                            67                  101
 months_since_last_claim                          0                    0
 months_since_policy_inception                   13                   68
 total_claim_amount                           321.6               363.03

                                               8                    9     ...  \
 customer                                   DY87989              BQ94931  ...
 customer_lifetime_value                    24127.5              7388.18  ...
 effective_to_date              1296000000000000000  1297900800000000000  ...
 income                                       14072                28812  ...
 monthly_premium_auto                            71                   93  ...
 months_since_last_claim                         13                   17  ...
 months_since_policy_inception                    3                    7  ...
 total_claim_amount                           511.2              425.528  ...

                                               9124                 9125  \
 customer                                   CB59349              RX91025
 customer_lifetime_value                    16261.6              19872.3
 effective_to_date              1295481600000000000  1296432000000000000
 income                                       60646                    0
 monthly_premium_auto                           134                  185
 months_since_last_claim                         31                   26
 months_since_policy_inception                   42                   35
 total_claim_amount                           643.2              1950.73

                                               9126                 9127  \
 customer                                   AC13887              TF56202
 customer_lifetime_value                       4629              5032.17
 effective_to_date              1294531200000000000  1297468800000000000
 income                                           0                66367
 monthly_premium_auto                            67                   64
 months_since_last_claim                         25                    6
 months_since_policy_inception                   21                   48
 total_claim_amount                           482.4                307.2

                                               9128                 9129  \
 customer                                   YM19146              LA72316
 customer_lifetime_value                     4100.4                23406
 effective_to_date              1294272000000000000  1297296000000000000
 income                                       47761                71941
 monthly_premium_auto                           104                   73
 months_since_last_claim                         16                   18
 months_since_policy_inception                   58                   89
 total_claim_amount                         541.282              198.235

                                               9130                 9131  \
 customer                                   PK87824              TD14365
 customer_lifetime_value                    3096.51              8163.89
 effective_to_date              1297468800000000000  1296950400000000000
 income                                       21604                    0
 monthly_premium_auto                            79                   85
 months_since_last_claim                         14                    9
 months_since_policy_inception                   28                   37
 total_claim_amount                           379.2              790.785

                                               9132                 9133
 customer                                   UP19263              Y167826
 customer_lifetime_value                    7524.44              2611.84
 effective_to_date              1296691200000000000  1297641600000000000
 income                                       21941                    0
 monthly_premium_auto                            96                   77
 months_since_last_claim                         34                    3
 months_since_policy_inception                    3                   90
 total_claim_amount                           691.2                369.6

 [8 rows x 9134 columns],
                                      0              1              2     \
 state                          Washington        Arizona         Nevada
 response                               No             No             No
 coverage                            Basic       Extended        Premium
 education                        Bachelor       Bachelor       Bachelor
 employmentstatus                 Employed     Unemployed       Employed
 gender                                  F              F              F
 location_code                    Suburban       Suburban       Suburban
 marital_status                    Married         Single        Married
 number_of_open_complaints               0              0              0
 number_of_policies                      1              8              2
 policy_type                Corporate Auto  Personal Auto  Personal Auto
 policy                       Corporate L3    Personal L3    Personal L3
 renew_offer_type                   Offer1         Offer3         Offer1
 sales_channel                       Agent          Agent          Agent
 vehicle_class                Two-Door Car  Four-Door Car   Two-Door Car
 vehicle_size                      Medsize        Medsize        Medsize

                                      3              4              5     \
 state                          California     Washington         Oregon
 response                               No             No            Yes
 coverage                            Basic          Basic          Basic
 education                        Bachelor       Bachelor       Bachelor
 employmentstatus               Unemployed       Employed       Employed
 gender                                  M              M              F
 location_code                    Suburban          Rural          Rural
 marital_status                    Married         Single        Married
 number_of_open_complaints               0              0              0
 number_of_policies                      7              1              2
 policy_type                Corporate Auto  Personal Auto  Personal Auto
 policy                       Corporate L2    Personal L1    Personal L3
 renew_offer_type                   Offer1         Offer1         Offer2
 sales_channel                 Call Center          Agent            Web
 vehicle_class                         SUV  Four-Door Car   Two-Door Car
 vehicle_size                      Medsize        Medsize        Medsize

                                      6               7               8     \
 state                              Oregon         Arizona          Oregon
 response                              Yes              No             Yes
 coverage                            Basic         Premium           Basic
 education                         College          Master        Bachelor
 employmentstatus                 Employed      Unemployed   Medical Leave
 gender                                  F               M               M
 location_code                    Suburban           Urban        Suburban
 marital_status                    Married          Single        Divorced
 number_of_open_complaints               0               0               0
 number_of_policies                      9               4               2
 policy_type                Corporate Auto  Corporate Auto  Corporate Auto
 policy                       Corporate L3    Corporate L3    Corporate L3
 renew_offer_type                   Offer1          Offer1          Offer1
 sales_channel                       Agent           Agent           Agent
 vehicle_class               Four-Door Car   Four-Door Car   Four-Door Car
 vehicle_size                      Medsize         Medsize         Medsize

                                     9     ...           9124  \
 state                             Oregon  ...     California
 response                              No  ...             No
 coverage                        Extended  ...       Extended
 education                        College  ...         Master
 employmentstatus                Employed  ...       Employed
 gender                                 F  ...              M
 location_code                      Urban  ...       Suburban
 marital_status                   Married  ...        Married
 number_of_open_complaints              0  ...              0
 number_of_policies                     8  ...              2
 policy_type                 Special Auto  ...  Personal Auto
 policy                        Special L2  ...    Personal L3
 renew_offer_type                  Offer2  ...         Offer2
 sales_channel                     Branch  ...          Agent
 vehicle_class              Four-Door Car  ...            SUV
 vehicle_size                     Medsize  ...        Medsize

                                            9125            9126  \
 state                                California      California
 response                                     No              No
 coverage                                Premium           Basic
 education                  High School or Below        Bachelor
 employmentstatus                     Unemployed      Unemployed
 gender                                        M               M
 location_code                          Suburban        Suburban
 marital_status                           Single          Single
 number_of_open_complaints                     0               0
 number_of_policies                            2               4
 policy_type                       Personal Auto  Corporate Auto
 policy                              Personal L3    Corporate L1
 renew_offer_type                         Offer1          Offer1
 sales_channel                             Agent          Branch
 vehicle_class                               SUV    Two-Door Car
 vehicle_size                              Small         Medsize

                                     9127           9128           9129  \
 state                         California     California     California
 response                              No             No             No
 coverage                           Basic        Premium          Basic
 education                        College        College       Bachelor
 employmentstatus                Employed       Employed       Employed
 gender                                 M              F              M
 location_code                   Suburban       Suburban          Urban
 marital_status                  Divorced         Single        Married
 number_of_open_complaints              0              0              0
 number_of_policies                     3              1              2
 policy_type                Personal Auto  Personal Auto  Personal Auto
 policy                       Personal L3    Personal L2    Personal L1
 renew_offer_type                  Offer2         Offer1         Offer2
 sales_channel                Call Center         Branch            Web
 vehicle_class               Two-Door Car  Four-Door Car  Four-Door Car
 vehicle_size                       Small          Large        Medsize

                                      9130            9131           9132  \
 state                          California      California     California
 response                              Yes              No             No
 coverage                         Extended        Extended       Extended
 education                         College        Bachelor        College
 employmentstatus                 Employed      Unemployed       Employed
 gender                                  F               M              M
 location_code                    Suburban        Suburban       Suburban
 marital_status                   Divorced          Single        Married
 number_of_open_complaints               0               3              0
 number_of_policies                      1               2              3
 policy_type                Corporate Auto  Corporate Auto  Personal Auto
 policy                       Corporate L3    Corporate L2    Personal L2
 renew_offer_type                   Offer1          Offer1         Offer3
 sales_channel                      Branch          Branch         Branch
 vehicle_class               Four-Door Car   Four-Door Car  Four-Door Car
 vehicle_size                      Medsize         Medsize          Large

                                      9133
 state                          California
 response                               No
 coverage                         Extended
 education                         College
 employmentstatus               Unemployed
 gender                                  M
 location_code                    Suburban
 marital_status                     Single
 number_of_open_complaints               0
 number_of_policies                      1
 policy_type                Corporate Auto
 policy                       Corporate L3
 renew_offer_type                   Offer4
 sales_channel                 Call Center
 vehicle_class                Two-Door Car
 vehicle_size                      Medsize

 [16 rows x 9134 columns])

In [52]:
# so I wanted to make 2 functions: 1. to drop the continous columns 2. to drop the discrete columns

def drop_dis(df):
    for i in df.columns:
        if len(df[i].value_counts()) <10:
            df.drop([i])
    return df

In [53]:
an= drop_dis(data1)
#why doesn't this work?

KeyError: "['state'] not found in axis"

### 8. For the categorical data, check if there is some kind of text in a variable so we would need to clean it. Hint: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

In [54]:
data_cat= data.select_dtypes(include=['object'])
data_cat.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [68]:
data_cat['vehicle_size'].value_counts()
#checked all columns for shitty values
#there are none

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

### 9. Get categorical features.

In [ ]:
# didn't I do it in 8.

### 10. What should we do with the customer_id column?

In [70]:
# make it an index column
data.set_index('customer')
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize