# Lab | Cleaning numerical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder.

### 1. Import the necessary libraries.

In [1]:
import pandas as pd
import numpy as np

### 2. Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

### 3. First look at its main features (head, shape, info).

In [3]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [5]:
customer_df.shape

(9134, 24)

In [6]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

### 4. Rename the columns so they follow the PE8 (snake case).

In [34]:
def snake_case(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

In [36]:
snake_case(customer_df)
customer_df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

### 5. Change effective to date column to datetime format.

In [38]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])

In [41]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

### 6. Check NaN values per column.

In [42]:
customer_df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [47]:
nulls = pd.DataFrame(customer_df.isna().sum()*100/len(customer_df), columns=['percentage_nulls'])
nulls.sort_values('percentage_nulls', ascending = False)

                               percentage_nulls
customer                                    0.0
state                                       0.0
vehicle_class                               0.0
total_claim_amount                          0.0
sales_channel                               0.0
renew_offer_type                            0.0
policy                                      0.0
policy_type                                 0.0
number_of_policies                          0.0
number_of_open_complaints                   0.0
months_since_policy_inception               0.0
months_since_last_claim                     0.0
monthly_premium_auto                        0.0
marital_status                              0.0
location_code                               0.0
income                                      0.0
gender                                      0.0
employmentstatus                            0.0
effective_to_date                           0.0
education                                   0.0
coverage                                    0.0
response                                    0.0
customer_lifetime_value                     0.0
vehicle_size                                0.0

In [46]:
for col in customer_df.select_dtypes('object'):
    print(customer_df[col].value_counts(), '\n')

FK28721    1
RJ90816    1
YK66939    1
GB39602    1
OZ47099    1
          ..
AM97901    1
GG68407    1
HG83893    1
WO90953    1
IC44995    1
Name: customer, Length: 9134, dtype: int64

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

No     7826
Yes    1308
Name: response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

F    4658
M    4476
Name: gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

--> no columns with empy spaces instead of NaN!

### 7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [57]:
for col in customer_df.select_dtypes(np.number):
    print(customer_df[col].value_counts())

2248.449633     6
10972.067780    6
5619.689084     6
11981.984810    6
2530.705137     6
               ..
12349.702320    1
4046.936065     1
2121.313061     1
7232.609391     1
3297.904615     1
Name: customer_lifetime_value, Length: 8041, dtype: int64
0        2317
95697      12
26876       7
61108       7
25965       7
         ...
36259       1
69011       1
38638       1
30092       1
51199       1
Name: income, Length: 5694, dtype: int64
65     348
66     307
71     304
73     302
63     289
      ...
147      1
290      1
273      1
298      1
205      1
Name: monthly_premium_auto, Length: 202, dtype: int64
3     381
6     364
1     345
4     335
7     333
2     329
0     314
5     313
10    306
11    297
16    295
15    286
13    285
8     279
12    273
14    268
17    263
9     250
19    246
23    239
25    236
21    233
20    231
18    229
22    218
24    211
29    206
28    201
31    190
26    186
30    182
27    182
33    179
34    169
35    142
32    138
Name: months_since_last_claim, dtype: int64
59    142
61    128
50    125
44    115
10    114
     ...
16     70
96     67
82     56
98     54
97     52
Name: months_since_policy_inception, Length: 100, dtype: int64
0    7252
1    1011
2     374
3     292
4     149
5      56
Name: number_of_open_complaints, dtype: int64
1    3251
2    2294
3    1168
7     433
9     416
4     409
5     407
8     384
6     372
Name: number_of_policies, dtype: int64
316.800000     116
292.800000     110
312.000000     108
350.400000     105
331.200000     102
              ...
480.073548       1
232.674417       1
424.711758       1
1272.546918      1
11.549207        1
Name: total_claim_amount, Length: 5106, dtype: int64

In [61]:
customer_df.select_dtypes(np.number).nunique()

customer_lifetime_value          8041
income                           5694
monthly_premium_auto              202
months_since_last_claim            36
months_since_policy_inception     100
number_of_open_complaints           6
number_of_policies                  9
total_claim_amount               5106
dtype: int64

In [58]:
%%html
<style>
    table {
        display: inline-block
    }
</style>

**My conclusion after checking value counts and uniques and using general knowledge:**


|continuous|discrecte|
|:---|:---|
|total_claim_amount|number_of_policies|
|income|number_of_open_complaints|
|customer_lifetime_value|months_since_policy_inception|
||months_since_last_claim|
||monthly_premium_auto|
||

--> how to get this result with a function? <br>
--> Google always helps :D

In [105]:
def funct_uniques(df, col):
    
    # variable to hold count of unique values
    cnt = 0
  
    # list to hold unique values
    uniques = []

    for i in range(0, len(df)):
        
        if df[col][i] not in uniques:
            
            uniques.append(df[col][i])
            cnt += 1
    
    if cnt <= 300:
        print('Name of column: ', col)
        print('Number of unique values: ', cnt)
        print('List of unique values: ', uniques, '\n')
    else:
        print('Name of column: ', col)
        print('Number of unique values: ', cnt)
        print(col, 'is probably CONTINUOUS!', '\n')

In [101]:
funct_uniques(customer_df, 'number_of_policies')

Name of column:  number_of_policies
Number of unique values:  9
List of unique values:  [1, 8, 2, 7, 9, 4, 3, 6, 5]

In [106]:
for col in customer_df.select_dtypes(np.number).columns:
    funct_uniques(customer_df, col)

Name of column:  customer_lifetime_value
Number of unique values:  8041
customer_lifetime_value is probably CONTINUOUS!

Name of column:  income
Number of unique values:  5694
income is probably CONTINUOUS!

Name of column:  monthly_premium_auto
Number of unique values:  202
List of unique values:  [69, 94, 108, 106, 73, 67, 101, 71, 93, 110, 70, 64, 72, 74, 79, 61, 111, 139, 80, 63, 237, 65, 62, 117, 91, 90, 66, 99, 103, 172, 92, 104, 113, 124, 105, 100, 112, 97, 95, 102, 186, 77, 96, 76, 119, 88, 109, 107, 130, 85, 98, 133, 86, 78, 83, 68, 192, 118, 89, 140, 127, 168, 126, 82, 115, 217, 114, 138, 81, 255, 150, 123, 116, 190, 159, 84, 152, 136, 245, 135, 128, 225, 132, 153, 121, 154, 161, 156, 171, 87, 244, 183, 176, 230, 129, 177, 196, 131, 276, 253, 137, 180, 203, 147, 165, 198, 125, 193, 271, 188, 142, 206, 182, 189, 160, 295, 210, 134, 239, 256, 173, 285, 148, 197, 199, 214, 175, 167, 194, 164, 181, 222, 215, 283, 169, 248, 223, 273, 151, 213, 145, 185, 287, 297, 201, 149, 146, 235, 268, 211, 187, 141, 242, 170, 122, 143, 155, 166, 212, 249, 240, 191, 195, 216, 144, 179, 232, 158, 207, 184, 238, 229, 220, 178, 204, 281, 234, 218, 275, 209, 261, 157, 205, 228, 284, 231, 208, 296, 202, 162, 274, 219, 247, 290, 226, 163, 298, 266, 254, 252, 174, 286]

Name of column:  months_since_last_claim
Number of unique values:  36
List of unique values:  [32, 13, 18, 12, 14, 0, 17, 23, 27, 9, 21, 11, 31, 8, 4, 30, 22, 15, 33, 1, 19, 28, 10, 7, 3, 5, 20, 24, 29, 34, 6, 35, 2, 16, 26, 25]

Name of column:  months_since_policy_inception
Number of unique values:  100
List of unique values:  [5, 42, 38, 65, 44, 94, 13, 68, 3, 7, 87, 82, 25, 10, 50, 59, 1, 21, 49, 91, 47, 64, 54, 6, 14, 56, 17, 40, 62, 86, 79, 15, 32, 28, 16, 4, 57, 77, 95, 26, 53, 12, 98, 36, 71, 60, 20, 0, 27, 48, 33, 83, 30, 69, 90, 81, 84, 88, 18, 11, 85, 93, 34, 89, 2, 70, 37, 43, 8, 35, 99, 55, 75, 51, 92, 29, 63, 61, 46, 41, 31, 45, 67, 22, 23, 9, 72, 96, 58, 66, 73, 39, 19, 97, 52, 76, 78, 80, 74, 24]

Name of column:  number_of_open_complaints
Number of unique values:  6
List of unique values:  [0, 2, 1, 3, 5, 4]

Name of column:  number_of_policies
Number of unique values:  9
List of unique values:  [1, 8, 2, 7, 9, 4, 3, 6, 5]

Name of column:  total_claim_amount
Number of unique values:  5106
total_claim_amount is probably CONTINUOUS!

### 8. For the categorical data, check if there is some kind of text in a variable so we would need to clean it. Hint: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

In [107]:
for col in customer_df.select_dtypes('object').columns:
    funct_uniques(customer_df, col)

Name of column:  customer
Number of unique values:  9134
customer is probably CONTINUOUS!

Name of column:  state
Number of unique values:  5
List of unique values:  ['Washington', 'Arizona', 'Nevada', 'California', 'Oregon']

Name of column:  response
Number of unique values:  2
List of unique values:  ['No', 'Yes']

Name of column:  coverage
Number of unique values:  3
List of unique values:  ['Basic', 'Extended', 'Premium']

Name of column:  education
Number of unique values:  5
List of unique values:  ['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor']

Name of column:  employmentstatus
Number of unique values:  5
List of unique values:  ['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired']

Name of column:  gender
Number of unique values:  2
List of unique values:  ['F', 'M']

Name of column:  location_code
Number of unique values:  3
List of unique values:  ['Suburban', 'Rural', 'Urban']

Name of column:  marital_status
Number of unique values:  3
List of unique values:  ['Married', 'Single', 'Divorced']

Name of column:  policy_type
Number of unique values:  3
List of unique values:  ['Corporate Auto', 'Personal Auto', 'Special Auto']

Name of column:  policy
Number of unique values:  9
List of unique values:  ['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1', 'Special L2', 'Corporate L1', 'Personal L2', 'Special L1', 'Special L3']

Name of column:  renew_offer_type
Number of unique values:  4
List of unique values:  ['Offer1', 'Offer3', 'Offer2', 'Offer4']

Name of column:  sales_channel
Number of unique values:  4
List of unique values:  ['Agent', 'Call Center', 'Web', 'Branch']

Name of column:  vehicle_class
Number of unique values:  6
List of unique values:  ['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car', 'Luxury Car']

Name of column:  vehicle_size
Number of unique values:  3
List of unique values:  ['Medsize', 'Small', 'Large']

### 9. Get categorical features.

In [55]:
for col in customer_df.select_dtypes('object'):
    print(col, ':', customer_df[col].unique())

customer : ['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
state : ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
response : ['No' 'Yes']
coverage : ['Basic' 'Extended' 'Premium']
education : ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
employmentstatus : ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender : ['F' 'M']
location_code : ['Suburban' 'Rural' 'Urban']
marital_status : ['Married' 'Single' 'Divorced']
policy_type : ['Corporate Auto' 'Personal Auto' 'Special Auto']
policy : ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
renew_offer_type : ['Offer1' 'Offer3' 'Offer2' 'Offer4']
sales_channel : ['Agent' 'Call Center' 'Web' 'Branch']
vehicle_class : ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
vehicle_size : ['Medsize' 'Small' 'Large']

### 10. What should we do with the customer_id column?

Different possibilities:
- setting "customer" as index (as it contains only unique values)<br>
   -->  _customer_df = customer_df.set_index('customer')_
- removing column from dataframe before doing further analysis
- extracting information from column (e.g. letters in one column and numbers = customer_id in other column)<br>
    --> this would only make sense if we know that the letters actually signify something and it would make sense to group