# Lab | Cleaning numerical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder.

### 1. Import the necessary libraries.

In [91]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

### 2. Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

In [92]:
df = pd.read_csv('/we_fn_use_c_marketing_customer_value_analysis.csv')

### 3. First look at its main features (head, shape, info).

In [93]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [94]:
df.shape

(9134, 24)

In [95]:
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [96]:
df.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [97]:
df.info

<bound method DataFrame.info of      Customer       State  Customer Lifetime Value Response  Coverage  \
0     BU79786  Washington              2763.519279       No     Basic
1     QZ44356     Arizona              6979.535903       No  Extended
2     AI49188      Nevada             12887.431650       No   Premium
3     WW63253  California              7645.861827       No     Basic
4     HB64268  Washington              2813.692575       No     Basic
...       ...         ...                      ...      ...       ...
9129  LA72316  California             23405.987980       No     Basic
9130  PK87824  California              3096.511217      Yes  Extended
9131  TD14365  California              8163.890428       No  Extended
9132  UP19263  California              7524.442436       No  Extended
9133  Y167826  California              2611.836866       No  Extended

     Education Effective To Date EmploymentStatus Gender  Income  \
0     Bachelor           2/24/11         Employed      F   56274
1     Bachelor           1/31/11       Unemployed      F       0
2     Bachelor           2/19/11         Employed      F   48767
3     Bachelor           1/20/11       Unemployed      M       0
4     Bachelor            2/3/11         Employed      M   43836
...        ...               ...              ...    ...     ...
9129  Bachelor           2/10/11         Employed      M   71941
9130   College           2/12/11         Employed      F   21604
9131  Bachelor            2/6/11       Unemployed      M       0
9132   College            2/3/11         Employed      M   21941
9133   College           2/14/11       Unemployed      M       0

     Location Code Marital Status  Monthly Premium Auto  \
0         Suburban        Married                    69
1         Suburban         Single                    94
2         Suburban        Married                   108
3         Suburban        Married                   106
4            Rural         Single                    73
...            ...            ...                   ...
9129         Urban        Married                    73
9130      Suburban       Divorced                    79
9131      Suburban         Single                    85
9132      Suburban        Married                    96
9133      Suburban         Single                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies     Policy Type  \
0                             0                   1  Corporate Auto
1                             0                   8   Personal Auto
2                             0                   2   Personal Auto
3                             0                   7  Corporate Auto
4                             0                   1   Personal Auto
...                         ...                 ...             ...
9129                          0                   2   Personal Auto
9130                          0                   1  Corporate Auto
9131                          3                   2  Corporate Auto
9132                          0                   3   Personal Auto
9133                          0                   1  Corporate Auto

            Policy Renew Offer Type Sales Channel  Total Claim Amount  \
0     Corporate L3           Offer1         Agent          384.811147
1      Personal L3           Offer3         Agent         1131.464935
2      Personal L3           Offer1         Agent          566.472247
3     Corporate L2           Offer1   Call Center          529.881344
4      Personal L1           Offer1         Agent          138.130879
...            ...              ...           ...                 ...
9129   Personal L1           Offer2           Web          198.234764
9130  Corporate L3           Offer1        Branch          379.200000
9131  Corporate L2           Offer1        Branch          790.784983
9132   Personal L2           Offer3        Branch          691.200000
9133  Corporate L3           Offer4   Call Center          369.600000

      Vehicle Class Vehicle Size
0      Two-Door Car      Medsize
1     Four-Door Car      Medsize
2      Two-Door Car      Medsize
3               SUV      Medsize
4     Four-Door Car      Medsize
...             ...          ...
9129  Four-Door Car      Medsize
9130  Four-Door Car      Medsize
9131  Four-Door Car      Medsize
9132  Four-Door Car        Large
9133   Two-Door Car      Medsize

[9134 rows x 24 columns]>

### 4. Rename the columns so they follow the PE8 (snake case).

In [122]:
df.columns = map(lambda column: column.lower().replace(' ', '_'), df.columns)
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

### 5. Change effective to date column to datetime format.

In [99]:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

### 6. Check NaN values per column.

In [100]:
df.isnull().values.sum()

0

In [101]:
df.value_counts().count()

9134

### 7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [102]:
def diff(cate, disc, cont):
    x = df.columns
    cate = 0
    disc = 0
    cont = 0
    for i in x:
        if cate == df.select_dtypes('object'):
            print(i, 'categorical')
        elif disc == df.select_dtypes('int64'):
            print(i, 'discrete')
        elif cont == df.select_dtypes('float64'):
            print(i, 'continuous')
        else:
            print(i, 'others')
    return cate,disc,cont
# a bit confusing here, can you please help me to verify if my logic is correct, thanks!

In [103]:
df_categorical = df.select_dtypes(np.object)
df_categorical.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [104]:
df_discrete = pd.DataFrame(df,columns = ['customer_lifetime_value' , 'income' , 'monthly_premium_auto','number_of_policies','total_claim_amount'])
df_discrete.head()

,customer_lifetime_value,income,monthly_premium_auto,number_of_policies,total_claim_amount
0,2763.519279,56274,69,1,384.811147
1,6979.535903,0,94,8,1131.464935
2,12887.431650,48767,108,2,566.472247
3,7645.861827,0,106,7,529.881344
4,2813.692575,43836,73,1,138.130879

In [105]:
df_continuous = pd.DataFrame(df,columns = ['months_since_last_claim' , 'months_since_policy_inception' , 'effective_to_date'])
df_continuous.head()

   months_since_last_claim  months_since_policy_inception effective_to_date
0                       32                              5        2011-02-24
1                       13                             42        2011-01-31
2                       18                             38        2011-02-19
3                       18                             65        2011-01-20
4                       12                             44        2011-02-03

### 8. For the categorical data, check if there is some kind of text in a variable so we would need to clean it. Hint: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

In [106]:
df['vehicle_class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

In [107]:
df['vehicle_class'] = df['vehicle_class'].apply(lambda x: x if x in ['Four-Door Car', 'Two-Door Car', 'SUV'] else 'Others')
df['vehicle_class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Others            831
Name: vehicle_class, dtype: int64

In [108]:
df['policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [115]:
df['policy'] = df['policy'].apply(lambda x: x if x in ['Corporate L1', 'Personal L1', 'Personal L2', 'Personal L3'] else 'Others')
df['policy'].value_counts()

Personal L3     3426
Personal L2     2122
Others          1987
Personal L1     1240
Corporate L1     359
Name: policy, dtype: int64

### 9. Get categorical features.

In [26]:
df_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer          9134 non-null   object
 1   state             9134 non-null   object
 2   response          9134 non-null   object
 3   coverage          9134 non-null   object
 4   education         9134 non-null   object
 5   employmentstatus  9134 non-null   object
 6   gender            9134 non-null   object
 7   location code     9134 non-null   object
 8   marital status    9134 non-null   object
 9   policy type       9134 non-null   object
 10  policy            9134 non-null   object
 11  renew offer type  9134 non-null   object
 12  sales channel     9134 non-null   object
 13  vehicle class     9134 non-null   object
 14  vehicle size      9134 non-null   object
dtypes: object(15)
memory usage: 1.0+ MB

### 10. What should we do with the customer_id column?

In [ ]:
df.set_index('customer',inplace = True)

In [31]:
df.head()

,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
customer,,,,,,,,,,,,,,,,,,,,,,,
BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,O,Offer1,Agent,384.811147,Two-Door Car,Medsize
QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,O,Offer1,Call Center,529.881344,SUV,Medsize
HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize