# Lab | Cleaning numerical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder.

### 1. Import the necessary libraries.

In [2]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

### 2. Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

In [3]:
data = pd.read_csv(r"files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv")

### 3. First look at its main features (head, shape, info).

In [4]:
data.shape

(9134, 24)

In [5]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [7]:
# personal preference to look at this data transposed

data.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer Lifetime Value,9134.0,8004.940475,6870.967608,1898.007675,3994.251794,5780.182197,8962.167041,83325.381190
Income,9134.0,37657.380009,30379.904734,0.000000,0.000000,33889.500000,62320.000000,99981.000000
Monthly Premium Auto,9134.0,93.219291,34.407967,61.000000,68.000000,83.000000,109.000000,298.000000
Months Since Last Claim,9134.0,15.097000,10.073257,0.000000,6.000000,14.000000,23.000000,35.000000
Months Since Policy Inception,9134.0,48.064594,27.905991,0.000000,24.000000,48.000000,71.000000,99.000000
Number of Open Complaints,9134.0,0.384388,0.910384,0.000000,0.000000,0.000000,0.000000,5.000000
Number of Policies,9134.0,2.966170,2.390182,1.000000,1.000000,2.000000,4.000000,9.000000
Total Claim Amount,9134.0,434.088794,290.500092,0.099007,272.258244,383.945434,547.514839,2893.239678

### 4. Rename the columns so they follow the PE8 (snake case).

In [8]:
data.columns = data.columns.str.lower()
data.columns = [column.lower().replace(' ', '_') for column in data.columns]

### 5. Change effective to date column to datetime format.

In [9]:
# effective_to_date currently object format

data['effective_to_date']= pd.to_datetime(data['effective_to_date'])

### 6. Check NaN values per column.

In [10]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

# no NaN values present
# !!! though we can see in the data.head() that there are at least 0 values present

                               percentage
customer                              0.0
state                                 0.0
vehicle_class                         0.0
total_claim_amount                    0.0
sales_channel                         0.0
renew_offer_type                      0.0
policy                                0.0
policy_type                           0.0
number_of_policies                    0.0
number_of_open_complaints             0.0
months_since_policy_inception         0.0
months_since_last_claim               0.0
monthly_premium_auto                  0.0
marital_status                        0.0
location_code                         0.0
income                                0.0
gender                                0.0
employmentstatus                      0.0
effective_to_date                     0.0
education                             0.0
coverage                              0.0
response                              0.0
customer_lifetime_value               0.0
vehicle_size                          0.0

### 7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

- A discrete variable is a variable whose value is obtained by counting. (finite)
- A continuous variable is a variable whose value is obtained by measuring. (infinite)

In [71]:
# if the number of unique values in a column is high (TBD) the variable should be continuous 
# if the number of unique values in a column is low (TBD) the variable should be discrete

discrete = pd.DataFrame()
continuous = pd.DataFrame()
categorical = pd.DataFrame()

def sort_variables(x):
    for col in data:
        if data[col].dtypes == object:
            categorical[col] = data[col]
        elif len(data[col].unique()) >= 50:
            continuous[col] = data[col]
        else:
            discrete[col] = data[col]
        
data.apply(sort_variables)

state                            None
customer_lifetime_value          None
response                         None
coverage                         None
education                        None
effective_to_date                None
employmentstatus                 None
gender                           None
income                           None
location_code                    None
marital_status                   None
monthly_premium_auto             None
months_since_last_claim          None
months_since_policy_inception    None
number_of_open_complaints        None
number_of_policies               None
policy_type                      None
policy                           None
renew_offer_type                 None
sales_channel                    None
total_claim_amount               None
vehicle_class                    None
vehicle_size                     None
dtype: object

In [72]:
categorical.head()

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
customer,,,,,,,,,,,,,,
BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [73]:
discrete.head()

,months_since_last_claim,number_of_open_complaints,number_of_policies
customer,,,
BU79786,32,0,1
QZ44356,13,0,8
AI49188,18,0,2
WW63253,18,0,7
HB64268,12,0,1

In [74]:
continuous.head()

,customer_lifetime_value,effective_to_date,income,monthly_premium_auto,months_since_policy_inception,total_claim_amount
customer,,,,,,
BU79786,2763.519279,2011-02-24,56274,69,5,384.811147
QZ44356,6979.535903,2011-01-31,0,94,42,1131.464935
AI49188,12887.431650,2011-02-19,48767,108,38,566.472247
WW63253,7645.861827,2011-01-20,0,106,65,529.881344
HB64268,2813.692575,2011-02-03,43836,73,44,138.130879

### 9. Get categorical features.

In [75]:
categorical.describe().T

                 count unique            top  freq
state             9134      5     California  3150
response          9134      2             No  7826
coverage          9134      3          Basic  5568
education         9134      5       Bachelor  2748
employmentstatus  9134      5       Employed  5698
gender            9134      2              F  4658
location_code     9134      3       Suburban  5779
marital_status    9134      3        Married  5298
policy_type       9134      3  Personal Auto  6788
policy            9134      9    Personal L3  3426
renew_offer_type  9134      4         Offer1  3752
sales_channel     9134      4          Agent  3477
vehicle_class     9134      6  Four-Door Car  4621
vehicle_size      9134      3        Medsize  6424

### 10. What should we do with the customer_id column?

In [76]:
# 1 check if customer id is filled with unique values

data['customer'].nunique()

KeyError: 'customer'

In [24]:
# 2 column customer is filled only with unique customer id's and can therefore be used as index column

data = data.set_index('customer')